<h2 mat-dialog-title>Editar Cliente</h2>
<mat-dialog-content class="dialog-content">
  <form>
    <mat-form-field appearance="fill" class="full-width-input">
      <mat-label>Nombre</mat-label>
      <input
        matInput
        placeholder="Ingrese el nombre"
        name="name"
        [value]="data.name"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width-input">
      <mat-label>Teléfono</mat-label>
      <input
        matInput
        placeholder="Ingrese el teléfono"
        name="phone"
        [value]="data.phone"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width-input">
      <mat-label>Empresa</mat-label>
      <input
        matInput
        placeholder="Ingrese la empresa"
        name="company"
        [value]="data.company"
      />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width-input">
      <mat-label>Correo Electrónico</mat-label>
      <input
        matInput
        placeholder="Ingrese el correo electrónico"
        name="email"
        [value]="data.email"
      />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>CANCELAR</button>
  <button
    mat-raised-button
    color="primary"
    [mat-dialog-close]="data"
    cdkFocusInitial
  >
    GUARDAR
  </button>
</mat-dialog-actions>
